{{#section 'head'}}
    <style>
        .container{
            width: 80%;
            display: flex;
        }      
        .item{
            margin: 30px;
        } 
        .floatBtn{
            position: absolute;
            right: 5%;
            bottom: 7%;
        }
    </style>
{{/section}}


<div class="container">
    {{#each items}}
        <div class="item">
            {{> myItem csrfToken=../csrfToken}}
        </div>
    {{/each}}
</div>



<a href="/admin/create-item" class="btn btn-primary floatBtn" role="button">
    <i class="bi bi-plus" style="font-size: 30px;"></i>
</a>