{{#section 'head'}}
<style>
    .user-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .users-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 30px;
    }
</style>
{{/section}}

<h2 class="card-title mt-3 mb-4 text-center"></h2>

<div class="users-container mt-3">
    <h1 class="text-center">Users list</h1>
    <hr />

    <table class="table  mt-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr class="table-light">
                <th scope="row">{{id}}</th>
                <td>{{{fullname}}}</td>
                <td>{{email}}</td>
                <td>
                    {{#each roles}}
                    <span class="badge rounded-pill bg-primary">{{name}}</span>
                    {{/each}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>