PORT=3000
SESSION_SECRET=
GOOGLE_CLIENT_ID =
GOOGLE_SECRET = 
FACEBOOK_CLIENT_ID =
FACEBOOK_CLIENT_SECRET =
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = 
TYPEORM_PASSWORD = 
TYPEORM_DATABASE = 
TYPEORM_PORT = 5432
TYPEORM_SYNCHRONIZE = false
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = src/entity/**/*.ts
TYPEORM_MIGRATIONS = src/migration/**/*.ts
TYPEORM_SUBSCRIBERS = src/subscriber/**/*.ts
TYPEORM_ENTITIES_DIR = src/entity
TYPEORM_MIGRATIONS_DIR = src/migration
TYPEORM_SUBSCRIBERS_DIR = src/subscriber
GOOGLE_CALLBACK=http://localhost:3000/auth/google/callback
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
; TYPEORM_DRIVER_EXTRA='{ "ssl": true }'
; NODE_TLS_REJECT_UNAUTHORIZED=0