{{#section 'head'}}
<style>
    body{
        background-color: slateblue;
    }
    
    h1{
        color: white;
        font-weight: bolder;
        text-align: center;
        font-size: 120px;
        margin-top: 30px;
        padding-right: 120px;

    }

    h2{
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 80px;
        margin-top: 40px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 90px;

        max-height: 30%;
        max-width: 30%;
    }

</style>
{{/section}}

<h1>500</h1>
<img class="center" src="/img/server-error-cat.png">
<h2>Intrernal Server Error</h2>