cart

{{#each cartItems}}
    {{amount}}
    {{item.name}}
    {{item.price}}
    <hr>
{{/each}}

<form method="get" action="/checkout">
    <button class="btn  btn-primary" type="submit">
        <i class="fa fa-shopping-cart"></i> Checkout
    </button>
</form>