

<div class="mt-5 ml-auto mr-auto" style="width: 30%; cursor: default;">
    <img class="text-center" style="max-width: 100%; max-height: 100%; pointer-events: none; user-select: none;" src="/img/empty-cart.png">
    <h1 class="mt-5 text-center" style="
            padding: 30px; 
            background-color: rgba(0,0,0,0.9); 
            color: white;
            border-radius: 30px;
            ">
        Your Cart is empty 
    </h1>
</div>
