{{#section 'head'}}
    <style>
        .container{
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }      
        .item{
            margin: 30px;
        } 
        .floatBtn{
            position: fixed;
            right: 5%;
            bottom: 7%;
        }

</style>
{{/section}}


{{> searchBar}}
<div class="container">
    {{#each items}}
        <div class="item">
            {{> item csrfToken=../csrfToken}}
        </div>
    {{/each}}
</div>
