{{#section 'head'}}
    <style>
        .container{
            width: 80%;
            display: flex;
        }      
        .item{
            margin: 30px;
        }  
    </style>
{{/section}}


<div class="container">
    {{#each items}}
        <div class="item">
            {{> item csrfToken=../csrfToken}}
        </div>
    {{/each}}
</div>
